{% extends "Main.html" %}

{% block content %}


    {% if reset_password  %}
    <form method="POST" action={% url "UpdatePassword" %}>
        {% csrf_token %}
    <div id="reset-section">
        <h3>Reset Your Password</h3>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value={{email}} required><br>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new_password" required><br>

        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirm_password" required><br>

        <button type="submit" value="Reset Password">Reset Password</button>
    </div>

    </form>
    {% else %}
    <form method="POST" action= {% url "ForgotPassword" %}>
        {% csrf_token %}
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <button type="submit" value="Submit">Submit</button>
    </from>
    {% endif %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock  %}